footer {
	width: 100%;
	padding: 50px 7vw;
	border-top: 4px solid #555;

	.upper {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;

		h1 {
			img {
				width: 70px;
			}
		}

		nav {
			width: 60%;
			display: flex;
			justify-content: space-between;
			flex-wrap: wrap;

			dl {
				dt {
					font: bold 15px/1 'merriweather sans';
					color: #333;
					margin-bottom: 50px;
					letter-spacing: 1px;
				}
				dd {
					font: 15px/1 'merriweather sans';
					color: #aaa;
					margin-bottom: 25px;
				}
			}
		}
	}

	.lower {
		margin-top: 80px;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;

		p {
			font: 14px/1 'arial';
			color: #333;
			letter-spacing: 2px;
			display: flex;
			align-items: center;
		}

		ul {
			display: flex;
			justify-content: center;
			align-items: center;
		}

		.terms {
			gap: 50px;
			font: bold 14px/1 'arial';
			color: #999;
		}

		.sns {
			gap: 30px;
			font-size: 20px;
			color: #777;
		}
	}
}

@media screen and (max-width: $tablet) {
	footer {
		.upper {
			nav {
				width: 100%;
				margin-top: 80px;

				dl {
					dt {
						margin-bottom: 30px;
					}
					dd {
						margin-bottom: 15px;
					}
				}
			}
		}
		.lower {
			p {
				width: 100%;
				margin-bottom: 50px;
			}
			.terms {
				width: 100%;
				display: flex;
				flex-wrap: wrap;
				gap: 0px;
				justify-content: center;

				li {
					width: 50%;
					margin-bottom: 10px;
				}
			}
			.sns {
				width: 100%;
				margin-top: 20px;
				justify-content: flex-start;
			}
		}
	}
}
