header {
	border: 1px solid #111;
	width: 100%;
	height: 70px;
	padding: 0px 7vw;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;

	h1 {
		width: 100px;
		display: flex;
		flex-wrap: wrap;
		align-content: center;
		color: #111;
		margin-right: 250px;
	}
	nav {
		display: flex;
		justify-content: space-between;
		#gnb {
			display: flex;
			gap: 40px;
			align-items: center;
		}
	}
}
