header {
	border: 1px solid #111;
	width: 100%;
	height: 80px;
	padding: 0px 7vw;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;

	h1 {
		display: flex;
		flex-wrap: wrap;
		align-content: center;
		color: #111;
	}
	nav {
		display: flex;
		justify-content: space-between;
		#gnb {
			display: flex;
			gap: 30px;
			align-items: center;
			margin-right: 90px;
		}
		#sign {
			display: flex;
			gap: 20px;
			li {
				border: 1px solid #000;
				border-radius: 50px;
				padding: 5px 20px;
			}
		}
	}
}
