@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@500&display=swap');

.content {
	figure {
		width: 100%;
		height: 350px;
		position: relative;
		opacity: 0;
		transition: 1s;
		overflow: hidden;
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}

		h1 {
			width: 100%;

			font: 60px/1 'EB Garamond';
			letter-spacing: 7px;
			color: white;
			position: absolute;
			transform: translate(-10%, 0%);
			text-align: center;
			bottom: 150px;
		}
	}
	> .inner {
		width: 80vw;
		min-height: 700px;
		margin: 100px auto 200px;
		transform: translateY(100px);
		opacity: 0;
		transition: opacity 1s 0.8s, transform 1s 0.8s;

		h1 {
			font-size: 60px;
			color: #111;

			&::after {
				content: '';
				display: block;
				width: 60px;
				height: 1px;
			}
		}
	}
}
//전환 모션
.content.on {
	figure {
		opacity: 1;

		h1 {
			left: 10vw;
			opacity: 1;
		}
	}

	> .inner {
		opacity: 1;
		transform: translateY(0px);
	}
}
