@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

.content {
	figure {
		width: 90%;
		height: 500px;
		position: relative;
		opacity: 0;
		transition: 1s;
		overflow: hidden;
		margin: 0 auto;
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}

		h1 {
			width: 100%;
			font: 100px/1 'Montserrat';
			font-weight: 700;
			letter-spacing: 7px;
			color: white;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-10%, -50%);
			text-align: center;

			&::before {
				content: '';
				flex-grow: 2;
				margin: 40px 16px;
				background: rgba(0, 0, 0, 0.35);
				height: 1px;
				font-size: 0px;
				line-height: 0px;
			}
			&::after {
				content: '';
				flex-grow: 1;
				margin: 40px 16px;
				background: rgba(0, 0, 0, 0.35);
				height: 1px;
				font-size: 0px;
				line-height: 0px;
			}
		}
	}
	> .inner {
		width: 80vw;
		min-height: 700px;
		margin: 100px auto 200px;
		transform: translateY(100px);
		opacity: 0;
		transition: opacity 1s 0.8s, transform 1s 0.8s;

		h1 {
			font-size: 60px;
			color: #111;

			&::after {
				content: '';
				display: block;
				width: 60px;
				height: 1px;
			}
		}
	}
}
//전환 모션
.content.on {
	figure {
		opacity: 1;

		h1 {
			left: 10vw;
			opacity: 1;
		}
	}

	> .inner {
		opacity: 1;
		transform: translateY(0px);
	}
}

@media screen and (max-width: $tablet) {
	.content {
		figure {
			height: 150px;
			h1 {
				font-size: 130px;
				bottom: -22px;
			}
		}
	}
}

@media screen and (max-width: $mobile) {
	.content {
		figure {
			height: 100px;
			h1 {
				font-size: 60px;
				bottom: 0px;
			}
		}
	}
}
