.popup {
	width: 100%;
	height: 100vh;
	background: rgba(0, 0, 0, 0.9);
	padding: 6vw;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 5;

	.con {
		width: 100%;
		height: 100%;

		img,
		video,
		iframe {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

	.close {
		font: bold 14px/1 'arial';
		position: absolute;
		top: 2vw;
		right: 3vw;
		color: orange;
		cursor: pointer;
	}
}
