@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
.Community {
	> .inner {
		.inputBox {
			width: 100%;
			border: 1px solid #aaa;
			padding: 50px;
			margin-bottom: 50px;

			h2 {
				font: 30px/1 'Montserrat';
				font-weight: 700;
				margin-bottom: 40px;
			}
			input[type='text'],
			textarea {
				font: 15px/1 'Montserrat';
				width: 100%;
				padding: 8px 10px;
				border: 1px solid #aaa;
				margin-bottom: 20px;
				resize: none;
			}

			.btnSet {
				width: 100%;
				display: flex;
				justify-content: center;
				button {
					width: 250px;
					height: 40px;
					display: inline-block;
					display: flex;
					justify-content: center;
					align-items: center;
					border: none;
					background: #555;
					font: 15px/1 'Montserrat';
					color: #fff;
					cursor: pointer;
					margin-right: 20px;
				}
			}
		}

		.showBox {
			width: 100%;
			border: 1px solid #bbb;

			article {
				width: 100%;
				background: #fff;
				padding: 30px;
				margin-bottom: 40px;
				display: flex;
				justify-content: space-between;
				flex-wrap: wrap;
				align-content: center;
				border-bottom: 1px solid #aaa;

				&:nth-of-type(1) {
					padding-top: 60px;
				}

				&:nth-of-type(5) {
					border-bottom: none;
					padding-bottom: 0;
				}
				.txt {
					h2 {
						margin-bottom: 20px;
						font: 20px/1 'Montserrat';
						font-weight: 700;
					}
					p {
						margin-bottom: 20px;
						font: 15px/1 'Montserrat';
					}
				}
				.btnSet {
					display: flex;
					align-items: center;

					button {
						background: transparent;
						margin: 10px;
						font: 13px/1 'Montserrat';

						cursor: pointer;
						border: none;
						&:nth-of-type(1) {
							color: orange;
						}
						&:nth-of-type(2) {
							color: orangered;
						}
					}
				}
			}
		}
	}
}
