@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

.Members {
	.title {
		width: 600px;
		margin-bottom: 80px;

		h1 {
			font: 60px/1 'Montserrat';
			font-weight: 700;
		}
	}
	fieldset {
		border: none;
		table {
			width: 100%;
			border: none;
			font-family: 'Montserrat';

			th {
				width: 25%;
				border: none;
				// border-bottom: 1px solid #bbb;

				text-align: left;

				// &:last-child {
				// 	text-align: center;
				// }

				input[type='submit'] {
					font: 20px/1 'Montserrat';
					// border: 1px solid #aaa;
					width: 230px;
					height: 50px;
					display: inline-flex;
					justify-content: center;
					align-items: center;

					cursor: pointer;
					margin-top: 100px;
					color: #fff;
					background-color: rgb(37, 36, 36);
				}
			}

			td {
				border: none;
				// border-bottom: 1px solid #bbb;
				// border-left: 1px solid #bbb;
				padding: 15px 30px;

				input[type='text'],
				input[type='password'],
				select,
				textarea {
					width: 70%;
					// border: 1px solid #aaa;
					padding: 6px 10px;
					resize: none;
					font: 13px/1 'Montserrat';
				}
				label {
					margin-right: 6px;
				}
				input[type='radio'] {
					margin-right: 20px;
				}
				.err {
					margin-left: 10px;
					font-size: 12px;
					color: rgb(214, 102, 102);
				}
			}
		}
	}
}

@media screen and (max-width: $tablet) {
	.Members {
		table {
			td {
				input[type='text'],
				input[type='password'],
				select,
				textarea {
					width: 80%;
				}

				input[type='radio'],
				input[type='checkbox'] {
					margin-right: 20px;
				}
				.err {
					display: block;
					margin-top: 10px;
				}
			}
		}
	}
}

@media screen and (max-width: $mobile) {
	.Members {
		table {
			th {
				display: none;

				&:last-child {
					width: 100%;
					display: flex;
					justify-content: space-between;
				}
			}
			td {
				border-left: none;
				input[type='text'],
				input[type='password'],
				select,
				textarea {
					width: 100%;
				}
			}
		}
	}
}
