.Youtube {
	.wrap {
		.title {
			font-size: 90px;
			padding: 30px 60px;
			line-height: 1.1;
		}
	}
	article {
		border-top: 1px solid #aaa;
		padding: 30px 60px;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;

		h2 {
			width: 50%;
			font-size: 40px;
			line-height: 1.1;
		}
		.pic {
			width: 30%;
			height: 230px;
			background: #000;
			filter: saturate(0);
			transition: 0.5s;
			position: relative;

			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
				padding: 10px;
			}
			.fa-youtube {
				font-size: 80px;
				color: #111;
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
			}

			&:hover {
				filter: saturate(1.2);
			}
		}
		.txt {
			width: 10%;
			display: flex;
			flex-wrap: wrap;
			justify-content: flex-end;

			span {
				font: 15px/1 'arial';
				color: #000;
			}
		}
	}
}
