@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

.Youtube {
	article {
		border-top: 1px solid #aaa;
		padding: 30px 0px;
		display: flex;
		.left {
			width: 60%;
			padding: 15px 0px;

			h2 {
				width: 80%;

				margin-bottom: 30px;
				font: 30px/1 'Montserrat';
				font-weight: 700;
			}
			.txt {
				width: 80%;

				p {
					color: #999;
					margin-bottom: 60px;
					word-break: break-all;
					font: 15px/1.3 'Montserrat';
				}
				span {
					color: orange;
					font: 11px/1 'Montserrat';
				}
			}
		}
		.pic {
			width: 35%;
			height: 100%;
			background: #000;
			padding: 0px 0;

			transition: 0.5s;
			position: relative;

			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
			}

			.fa-youtube {
				font-size: 80px;
				position: absolute;
				color: white;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				opacity: 0;
				transition: 0.5s;
				cursor: pointer;
			}

			&:hover {
				.fa-youtube {
					opacity: 1;
					transform: translate(-50%, -50%);
				}
			}
		}
	}
}

@media screen and (max-width: $tablet) {
	.Youtube {
		article {
			h2 {
				width: 47%;
			}
			.txt {
				width: 50%;
			}
			.pic {
				width: 100%;
				margin-top: 30px;
				margin-bottom: 80px;
			}
		}
	}
}

@media screen and (max-width: $mobile) {
	.Youtube {
		article {
			h2 {
				width: 100%;
				margin-bottom: 15px;
			}
			.txt {
				width: 100%;
			}
		}
	}
}
